# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/__tests__/coverage
/__tests__/database.sqlite


# misc
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
